.py-dropdown-content {
  position: absolute;
  width: max-content;
  top: 110%;
  right: 0%;
  border: 1px solid;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
}

.py-popover-dropdown {
  max-height: 400px;
  overflow-y: auto;
  padding: 0px;
}

.py-dropdown-button-container {
  position: relative;
}

.py-dropdown-button,
.py-action-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid !important;
  text-transform: none !important;
  cursor: pointer;
}

.py-dropdown-button-arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease !important;
  font-size: 20px;
}

.py-dropdown-button-arrow.open {
  transform: rotate(-180deg);
}