.py-number-picker {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.py-number-btn {
    flex: 1 0 0;
    min-width: 60px !important;
    font-size: 1em;
    background-color: rgba(128, 128, 128, 0.082) !important;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.082);
}
.py-number-btn:hover{
    background-color: rgba(128, 128, 128, 0.082) !important;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.082);
}
.py-number-btn-icon {
    font-size: 1.2em;
}